body {
    background-color: #e7e8e7;
    text-align: center;
    font-family: verdana;
    font-size: medium;
}


/* TITULO */
header {
    position: fixed;
    width: 100%;
    top: 0;
}

.titulo {
    background-color: #394A56;
    text-align: center;
    height: 4dvw;
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    padding: 25px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* BARRA DE NAV */
.bnav{
    position: fixed;
    background: #394A56;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bnav div{
    background: #2C6485;
    margin: 12px;
    width: 150px;
    padding: 12px;
    text-align: center;
    font-family: verdana;
}

.bnav div a{
    text-decoration: none;
    color: #EBF7FF;
    display: block;
}

div .inicio{
    background-color: #092B40;
    color: #EBF7FF;
}

div .actual{
    background-color: #143A5F;
}

h1{
    font-size: xxx-large;
    color: #143A5F;
}

h3{
    color: #90D9DB;
    font-size: x-large;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top:7dvw;
    margin-left: 20dvw;
    margin-right: 20dvw;
    margin-bottom: 5dvh;
}

.text2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top:1dvw;
    margin-left: 15dvw;
    margin-right: 15dvw;
    margin-bottom: 5dvh;
}

table{
    width: 100%;
}

td{
    text-align: center;
}

td h3{
    font-size: large;
    color: #3E78B2;
    font-weight: bolder;
}

td p, td h3 {
     padding: 15px;
}

.banner
{
    width: 70dvw;
    height: 30dvh;
    object-fit: cover;
}

button {
    width: 200px;
    height: 50px;
    background-color: #90D9DB;
    color: white;
    font-family: verdana;
    border: 0px;
}

a {
    color: white;
    font-family: verdana;
    text-decoration: none;
}

a:hover{
    color: black;
    font-family: verdana;
}

.ban
{
    margin-left: 15dvw;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
    margin-right: 15dvw;
}
