.titulo
{
    height: 20vh;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #394A56;
    color: white;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 3vh;
    border: 1px solid white;
    box-sizing: border-box;
}

.lateral
{
    top: 18vh;
    width: 20%;
    height: 100%;
    padding: 0;
    position: fixed;
    background-color: #092B40;
}

li a {
	display: block;
	background-color: #092B40;
	padding: 10px;
	color: #2C6485;
	text-decoration: none;
	font-family: verdana;
}

li a:hover{
	background-color: #B8CCD9;
	color: #2C6485;
    border-radius: 5px;
}

li a.actual{
	background-color: #394A56;
	color: #EBF7FF;
}

.slider
{
    max-width: 60vw;
    margin: 0 auto 0 auto;
    display: flex;
}

#imagen
{
    width: 100%;
    height: 40vh;
    background-size: cover;
}

#retroceder
{
    margin-left: 38%;
}

#avanzar
{
    margin-right: 0;
}

body
{
    background-color: #e7e8e7;
}

hgroup
{
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 35%;
    margin-right: 10%;
    margin-top: 5%;
}

.texto
{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}

.objt
{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
	text-align: center;
	background-color: #394A56;
	color: #e7e8e7;
    font-size: 1.5dvh;
	height: auto;
	width: 70%;
	padding: 5px;
    margin-top: 8%;
    margin-left: 27%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
