header
{
    position: fixed;
    width: 100%;
    top: 0;
}

.titulo
{
    background-color: #394A56;
    text-align: center;
    height: 5dvw;
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    padding: 2dvh;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navegar
{
    display: flex;
    background-color: #2C6485;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    position: fixed;
    width: 90%;
    margin-left: 5%;
    margin-top: 11dvh;
}

.navegar div .actual
{
	background-color: #092B40;
	color: #EBF7FF;
}

.navegar div a
{
    background-color: #2C6485;
    margin: 12px;
    padding: 12px;
    width: 150px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #092B40;
    display: block;
}

.navegar div a:hover
{
    background-color: #B8CCD9;
	color: #2c6485;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

.banner
{
    width: 70dvw;
    height: 30dvh;
    object-fit: cover;
}

.ban
{
    margin-left: 15dvw;
    margin-top: 20dvh;
    margin-right: 15dvw;
}

.estandar
{
    display: block;
    margin: auto;
}

.texto
{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-left: 15dvw;
    margin-right: 15dvw;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
}

footer
{
	text-align: center;
	background-color: #394A56;
	color: #e7e8e7;
    font-size: 1.5dvh;
	height: auto;
	width: 100%;
	padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}