body {
    background-color: #e7e8e7;
}

/* TITULO */
header {
    position: fixed;
    width: 100%;
    top: 0;
}

.titulo {
    background-color: #394A56;
    text-align: center;
    height: 4dvw;
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    padding: 25px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BARRA DE NAV */
.bnav{
	position: fixed;
	background: #394A56;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bnav div{
	background: #2C6485;
	margin: 12px;
	width: 150px;
	padding: 12px;
	text-align: center;
	font-family: verdana;
}

.bnav div a{
	text-decoration: none;
	color: #EBF7FF;
	display: block;
}

div .inicio{
	background-color: #092B40;
	color: #EBF7FF;
}

div .actual{
	background-color: #143A5F;
}

/* CONTENIDO */

h2 {
	text-align: center;
	font-family: Verdana;
	color: #90CADB;
}

footer, footer p{
	text-align: center;
	background-color: #394A56;
	color: #e7e8e7;
    font-size: 1.5dvh;
	height: auto;
	width: 100%;
	padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* tablas... */
table{
	width: 60%;
	border: 5px solid #3e78b2;
	border-collapse: collapse;
	font-family: Arial,sans-serif;
	caption-side: top;
	margin: auto;
}

th,td{
	border: 5px solid #3e78b2;
}

th{
	padding: 15px;
	background-color:#3e78b2;
	 color: #d0e7ff;
}

td{
	padding: 8px;
	text-align: center;
}

p {
	font-family: calibri;
	text-align: justify;
	font-size: large;
	margin: 2dvw 10dvw;
}

img {
	width: 50dvw;
    height: 20dvw;
    margin: 2dvw 25dvw;
    object-fit: cover;
}    

/* contenido */


*{
	font-family: verdana;
}