header
{
    position: fixed;
    width: 100%;
    top: 0;
}

.titulo
{
    background-color: #394A56;
    text-align: center;
    height: 5dvw;
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
    padding: 25px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lateral
{
    width: 20%;
    height: 80%;
    padding: 0;
    position: fixed;
    overflow: auto;
    background-color: #092840;
    top: 20%;
}

.tabla
{
    background-color: #e7e8e7;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:28%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    margin: 15px; 
}

.imagen
{
    width: 20dvw;
    height: 15dvw;
    object-fit: cover;
}

body
{
    background-color: #e7e8e7;
}

ul{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 15px;
	height: 80%;
	background-color: #2C6485;
	position: fixed;
	overflow: auto;
    min-width: 110px;
}

li a {
	display: block;
	background-color: #2C6485;
	padding: 10px;
	color: #092B40;
	text-decoration: none;
	font-family: verdana;
}

li a:hover{
	background-color: #B8CCD9;
	color: #2c6485;
}

li a.actual{
	background-color: #092B40;
	color: #EBF7FF;
}

.texto
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 15%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.objt
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 15%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
	text-align: center;
	background-color: #394A56;
	color: #e7e8e7;
    font-size: 1.5dvh;
	height: auto;
	width: 70%;
	padding: 5px;
    margin-top: 8%;
    margin-left: 27%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width:1000px)
{
    .tabla
    {
        flex-direction: column;
        align-items: center;
    }

    img
    {
        max-width: 100%;
        max-height: 100%;
        margin: 15px; 
    }

    .imagen
    {
        width: 15rem;
        height: 8rem;
    }
}